*
    {
	box-sizing: border-box;
 }

body
{
	font-family: "Jura", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

table
{
	width: 100%;
    table-layout: fixed;
}

td, th 
{
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th
{
	font-weight: bold;
	background-color: #EEE;
}

.container
{
    width: 60%;
	height: 100%;
	margin: 0 auto;
}